{%load static %} 
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <div>
            hey there partner!<br />
            <strong>
                {{ boldmessage }} <br />
            </strong>
        </div>

        <div>
            <a href = "{% url 'index' %}">Home page</a> <br />
             <img src = "{%static 'images/rango.jpg' %}" 
            alt = "Picture of Rango"> 
        {% comment %} </div>
        <a href = "rango/about/">About</a> <br />
        <img src = "{%static 'images/rango.jpg' %}" 
        alt = "Picture of CAT"> 

        <div> {% endcomment %}

        </div>

        <h1>Rango says .....</h1>
    </body>



</html>